body{
  margin: 0;
}
html{
  overflow-y: scroll;
}
.img-animaton{
  transition: 0.25s;
}
.img-animaton:hover{
  overflow: hidden;
  transform: scale(1.02);
}
.font-1{
  font-family: NotoSans, NotoSerif, Matterhorn, Helvetica, sans-serif;
  font-size:  1.875rem;
  line-height: 2.25rem;
  text-align: left;
  letter-spacing: normal;
}

.font-2{
  font-family:NotoSans, NotoSerif, Matterhorn, Helvetica, sans-serif;
  font-size:  1.125rem;
  line-height: 1.35rem;
  text-align: left;
  letter-spacing: normal;
}
.list a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
footer{
  height: auto;
  width: 100%;
}